

/******************* it-header *******************/

.it-header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.it-logo__img-box {
  max-width: 363px;
  width: 100%;
  margin-bottom: 20px;
}

.it-logo__img-box {
  height: 92px;
}

.it-logo__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-header__column {
  max-width: 370px;
  flex-grow: 1;
  flex-basis: 250px;
}

.it-desc {
  font-size: 24px;
}

.it-phone {
  font-size: 1.38rem;
  color: #333333;
  text-decoration: none;
  position: relative;
  padding-left: 60px;
  display: block;
}

.it-phone:hover {
  color: #333333;
  text-decoration: none;
}

.it-phone:active,
.it-phone:visited {
  color: #333333;
  text-decoration: none;
}

.it-phone:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 31px;
  height: 31px;
  background: url("../img/header/1.png") no-repeat center;
}

.it-city {
  font-size: 18px;
  color: #B0CB1F;
}




