header.it-header
		.it-container
			.it-header__wrap
				.it-header__column1
					a.it-logo(href='#')
						.it-logo__img-box
							img.it-logo__img(src='img/header/logo.jpg', alt='')
				.it-header__column2
					.it-desc
						|	Кухня на 30 лет за 14 дней
						|	без переплат за услуги
				.it-header__column3
					.it-header__city
						|	Тюмень
					.it-header__phone-wrap
						a.it-phone(href='tel:+73452499-522')
							| +7 (3452)
							b 499-522
						a.it-phone(href='tel:+73452499-522')
							| +7 (3452) 489 95 22
					.it-header__buttons
						a.it-btn.it-btn--transparent(href='#it-modal', data-modal='')
							| Заказать звонок
