doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width", initial-scale=1)
        title Artarina
        link(rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css" )
        link(rel="stylesheet" type="text/css" href="static/css/main.css" )
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet")
    body
        include header.pug
        include footer.pug



        script(type="text/javascript" src="static/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="static/js/owl.carousel.min.js")
        script(type="text/javascript" src="static/js/main.js")
