.it-offer
    .it-container
        .it-offer__wrap
            .it-offer__half
                .it-offer__content
                    .it-offer__desc Более 1500  кухонь обрели свой уютный дом у наших клиентов
                    .it-offer__buttons
                        a(href="#").it-btn.it-offer__btn Вызвать замерщика
